main {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}



@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        }
  }