.container {
  max-width: 1280px;
  margin: 0 auto;
}
.countryDetailsButton {
  display: flex;
  background-color: inherit;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 4rem 0;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.countryDetailsButton:hover {
  background-color: #f1f1f1;
}

.countryDetailsButton img {
  height: 1rem;
  padding-right: 0.5rem;
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card .cardHeader {
  width: 40%;
}

.card .cardHeader img {
  width: 100%;
}

.cardDetails {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card .left,
.card .right {
  line-height: 1.6;
}

.card h2 {
  padding-bottom: 1rem;
}

.borderCountries {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-self: flex-end;
  margin-top: 5rem;
}

.borderCountries ul {
  display: flex;
  flex-wrap: wrap;
}
.borderCountries ul  li{
  /* margin: 0.4rem 0; */
}
.borderCountries ul li a {
  text-decoration: none;
  margin: 0.4rem;
  padding: 0.1rem 1rem;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
    padding: 1rem;
  }
}