.container {
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: #fefefe;
  border: 1px solid #888;
  height: 40rem;
}
.card .cardHeader {
  width: 50%;
}

.card .cardHeader img {
  width: 100%;
}

/* .modalContent .countryDetails {
      padding: 3rem 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
     border: 5px solid red;
     flex: 1 1 100%;

  } */

.card .borderCountries {
  display: flex;
  /* align-self: flex-end; */
  border: 1px solid black;
  margin-top: 3rem;
}
