.card {
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    box-shadow:  0px 4px 8px 0 rgb(206, 205, 205);
    transition: 0.3s;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}



.card img {
    height: 10rem;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.cardContainer {
    padding: 1rem 2rem;

}

.cardContainer h3 {
    padding:1rem 0rem;
}

.countryDetails {
    display: flex;
    flex-direction: column;
}
.countryDetails li{
    padding: 0.2rem 0;
}
