.card {
  background-color: var(--elements-primary);
  transition: background-color 0.2s ease;
  min-width: 10rem;
  border-radius: 5px;
  /* UPDATE BOX SHADOW */
  /* box-shadow: 0px 4px 8px 0 var(--text-primary); */
  transition: 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.cardHeader img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cardBody {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 15rem;
}

.cardBody h3 {
  padding: 1rem 0rem;
}

.cardBody li {
  padding: 0.2rem 0;
}
